container_commands:
  01_migrate:
    command: "python kss-portfolio/manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "python kss-portfolio/manage.py collectstatic --noinput"
  03_createsu:
    command: "python kss-portfolio/manage.py createsu"
    leader_only: true
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "kss-portfolio.settings"
    "PYTHONPATH": "/opt/python/current/app/kss-portfolio:$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":    
    StaticFiles: "/static/=kss-portfolio/static/"